# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
bower_components/
node_modules/
# themes/gforce/.sass-cache/
# themes/gforce/node_modules/
# uploads/
# plugins/
advanced-cache.php
wp-rocket-config/
cache/
wflogs/
mu-plugins/
 
