body {
	background-color: $white;
}

.items__social {
	li {
		display: inline-block;
		list-style: none;
		padding-left: 1rem;

		a {
			i {
				background-repeat: no-repeat;
				&:before {
					display: none;
				}
			}
		}
	}

	.icon-whatsapp {
		background-image: url("../img/whatsappFooter.png");
		display: block;
		width: 19px;
		height: 19px;
	}
	.icon-email {
		background-image: url("../img/mailFooter.png");
		display: block;
		width: 23.5px;
		height: 19px;
	}

	.icon-instagram {
		background-image: url("../img/instagramFooter.png");
		display: block;
		width: 18.3px;
		height: 19px;
	}

	.icon-facebook {
		background-image: url("../img/facebookFooter.png");
		display: block;
		width: 8.05px;
		height: 19px;
	}
}

.title--page {
	font-size: 34px;
	letter-spacing: 0.93px;
	padding: 1rem 0 3rem 0;
}
