body {
	background-color: $white;
}

.items__social {
	li {
		display: inline-block;
		list-style: none;
		padding-left: 1rem;

		a {
			i {
				background-repeat: no-repeat;
				&:before {
					display: none;
				}
			}
		}
	}

	.icon-whatsapp {
		background-image: url("../img/whatsappFooter.png");
		display: block;
		width: 19px;
		height: 19px;
	}
	.icon-email {
		background-image: url("../img/mailFooter.png");
		display: block;
		width: 23.5px;
		height: 19px;
	}

	.icon-instagram {
		background-image: url("../img/instagramFooter.png");
		display: block;
		width: 18.3px;
		height: 19px;
	}

	.icon-facebook {
		background-image: url("../img/facebookFooter.png");
		display: block;
		width: 8.05px;
		height: 19px;
	}
}

.title--page {
	font-size: 34px;
	letter-spacing: 0.93px;
	padding: 1rem 0 3rem 0;
}

form {
	position: relative;

	padding: 0 15px;

	li {
		&:before {
			display: none !important;
			opacity: 0;
		}
	}

	input,
	textarea {
		border: 0;
		border-bottom: 1px solid $border-1;
		margin-bottom: 4rem;
		padding-left: 10px;
		width: 70%;

		&::placeholder {
			font-size: 14px;
			font-family: $font-family-base;
			color: $txt;
			letter-spacing: 3px;
			text-transform: uppercase;
			opacity: 0.8;
		}
	}

	.name_first {
		label {
			display: none !important;
		}
	}

	.gfield_label {
		display: none !important;
	}

	ul li.gfield {
		padding: 0;
		margin: 0;
	}

	.gfield_required {
		display: none;
	}

	.gform_footer {
		input[type="submit"] {
			background-color: #545454;
			border-bottom: 0;
			font-size: 14px;
			font-family: $font-family-base;
			color: #fff;
			letter-spacing: 0.65px;
			padding: 5px 1rem;
		}
	}
}

.title__post__type {
	border-bottom: 2px solid $border-1;
	padding-top: 1rem;

	h3 {
		letter-spacing: 0.5px;
		text-transform: uppercase;
	}
}

img {
	max-width: 100%;
	height: auto;
}

.mobile-nav {
	background-color: transparent;
	border: none !important;
	padding-top: 0.5rem;
	padding-right: 1rem;

	button {
		border: none !important;
		background-color: transparent !important;

		i {
			font-size: 2rem;
		}
	}
}

.fps-sticky-menu__nav {
	margin: 0 auto !important;
}

.menu-menu-mobile-container {
	li {
		padding-bottom: 0 !important;
		padding-top: 8px !important;
	}
}
