.menu-cta {
	border-bottom: 1px solid $border-1;

	.menu__bottom {
		@extend .col-lg-10;

		align-content: center;
		margin: 0 auto;
		justify-content: center;
		text-align: center;
		min-height: 50px;

		ul {
			padding-bottom: 2.5rem;
			li {
				padding: 0 2rem;
			}
		}
	}
}

footer {
	padding: 3rem 0;

	@include media-breakpoint-down(md) {
		margin: 0 1rem;
	}

	.container__footer {
		@extend .col-lg-10;

		align-items: center;
		border-left: 2px solid rgba(127, 126, 126, 0.4);
		border-right: 2px solid rgba(127, 126, 126, 0.4);
		margin: 0 auto;

		.footer__left {
			display: flex;
			flex-direction: column;
			justify-content: center;
			min-height: 150px;

			@include media-breakpoint-down(xs) {
				min-height: 120px;
			}

			@include media-breakpoint-down(xs) {
				margin-bottom: 0;
			}

			h3 {
				color: $dark-2;
				font-size: 22px;

				@include media-breakpoint-down(md) {
					font-size: 18px;
				}

				@include media-breakpoint-down(xs) {
					text-align: center;
				}
			}

			.suscribe__form_wrapper {
				margin: 0;
				padding: 0;
			}

			.suscribe__form {
				position: relative;
				padding-left: 0;
				input {
					border: 0;
					border-bottom: 1px solid $border-1;
					width: 70%;
					margin-bottom: 0;

					@include media-breakpoint-down(xs) {
						width: 100%;
					}

					&::placeholder {
						font-size: 14px;
						font-family: $font-family-base;
						color: $txt;
						letter-spacing: 0.65px;
						opacity: 0.8;
					}
				}

				ul li.gfield {
					padding: 0;
					margin: 0;
				}

				.gfield_required {
					display: none;
				}

				.gform_footer {
					position: absolute;
					top: 0%;
					left: 26%;
					padding: 0;
					margin-top: 5px;

					@include media-breakpoint-down(xs) {
						position: relative;
						left: 0;
					}

					input[type="submit"] {
						background-color: transparent;
						border-bottom: 0;
						font-size: 14px;
						font-family: $font-family-base;
						color: $txt;
						letter-spacing: 0.65px;
						opacity: 0.8;

						@include media-breakpoint-down(xs) {
							background-color: $dark-2;
							color: #fff;
							margin-top: 1rem;
						}
					}
				}
			}
		}
	}
}

.items__social {
	text-align: right;

	@include media-breakpoint-down(xs) {
		text-align: center;
	}
}

.footer__right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 150px;

	@include media-breakpoint-down(md) {
		padding-top: 1rem;
	}

	@include media-breakpoint-down(xs) {
		min-height: 120px;
	}
}

.cita__footer {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;

	@include media-breakpoint-down(xs) {
		justify-content: center;
	}

	h3 {
		color: $dark-2;
		font-size: 22px;
		margin-bottom: 0;

		@include media-breakpoint-down(md) {
			font-size: 18px;
		}
	}

	ul {
		margin-bottom: 0;
		li {
			margin-bottom: 0;
			padding-top: 10px;

			&:before {
				top: 40%;
			}
		}
	}
}
