.header__container {
	align-items: center;
	display: flex;
	min-height: 70px;
	padding-top: 0;
}

.main-nav {
	ul {
		margin-bottom: 0;
		li {
			display: inline-block;
			margin-bottom: 0;

			a {
				color: $txt;
				font-size: 14px;
				letter-spacing: 0.65px;
			}
		}
	}
}

.main-nav__left {
	display: flex;
	align-items: center;
	ul {
		li {
			padding-left: 0;
			padding-right: 15px;
		}
	}
}

.main-nav__right {
	ul {
		li {
			padding-left: 15px;
		}
	}
}

.site-branding {
	align-items: center;
	border-left: 0.5px solid $border-1;
	border-right: 0.5px solid $border-1;
	display: flex;
	justify-content: center;
	min-height: 70px;
}

.whatsapp_link {
	position: relative;
	a {
		padding-left: 1rem;
	}
	&:before {
		background-image: url("../img/whatsapp.png");
		content: "";
		display: block;
		width: 12px;
		height: 12px;
		position: absolute;
		top: 20%;
	}
}

.menu__aux {
	display: flex;
	justify-content: flex-end;
}

.shopping_cart {
	position: relative;

	a {
		&:before {
			@include mIcons("shopping_cart");
			font-size: 2rem;
			top: 20%;
		}
	}
}

.login {
	position: relative;

	a {
		&:before {
			@include mIcons("person");
			font-size: 2rem;
		}
	}
}

.menu-top-right-container {
	margin-top: 2rem;
}
