header {
	background-color: #fff;
}

.header__container {
	align-items: center;
	display: flex;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.site__header {
	padding-left: 15px;
	padding-right: 0;
}

.main-nav {
	ul {
		margin-bottom: 0;
		li {
			display: inline-block;
			margin-bottom: 0;

			a {
				color: $txt;
				font-size: 14px;
				font-family: $font-family-baseThin;
				letter-spacing: 0.65px;
			}
		}
	}
}

.main-nav__left {
	display: flex;
	align-items: center;
	ul {
		li {
			padding-left: 0;
			padding-right: 26px;
		}
	}
}

.main-nav__right {
	padding-top: 1.5rem;
	ul {
		li {
			padding-right: 26px;

			&:first-child {
				padding-left: 1.2rem;
			}
		}
	}
}

.site-branding {
	align-items: center;
	border-left: 0.5px solid $border-1;
	border-right: 0.5px solid $border-1;
	display: flex;
	justify-content: center;
	min-height: 70px;
}

.tienda {
	padding-top: 4px;
}
.whatsapp_link {
	padding-top: 4px;
	a {
		color: $txt;
		font-family: $font-family-baseLight;
		padding-left: 1rem;
	}
	&:before {
		background-image: url("../img/whatsapp.png");
		content: "";
		display: block;
		width: 12px;
		height: 12px;
		position: absolute;
		top: 30%;
	}
}

.menu__aux {
	display: flex;
	justify-content: flex-end;

	li {
		padding-left: 16px !important;
		padding-right: 0 !important;
		margin-top: -8px;
	}

	.login {
		padding-left: 15px !important;
		position: relative;

		a {
			&:before {
				background-image: url(../img/user.png);
				content: "";
				display: block;
				width: 18px;
				height: 21px;
				position: relative;
				top: 0;
				left: 0;

				font-size: 1.5rem;
				top: 20%;
			}
		}
	}
}

.shopping_cart {
	position: relative;

	a {
		&:before {
			background-image: url(../img/cart.png);
			content: "";
			display: block;
			width: 23.5px;
			height: 21px;
			position: relative;
			top: 0;
			left: 0;
			font-size: 1.5rem;
			top: 20%;
		}
	}
}

// .menu-top-right-container {
// 	margin-top: 2rem;
// }
